# Ruby
Gemfile.lock
Gemfile.local
Gemfile.local.rb
pkg
.bundle

# Editors
.vscode
.idea
tags
.tramp_history

# Tests
test/reports
coverage

# rvm/rbenv
.ruby-gemset
.ruby-version

# Locale files
locale/*/*.edit.po
locale/*/*.po.time_stamp
